.container {
    margin: 10% 20%;
    width: 60%;
    padding: 20px;
    border: 1px solid #35a267;
}

.welcome-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:5%;
}

.welcome-select-section {
    display: flex;
    flex-direction: column;
}

.welcome-select-section button{
    margin: 10px 0;
}
.welcome-name-section{
    text-align:center;
}
.active-section{
    background-color: white;
    color: #35a267;
    cursor: pointer;
}

.welcome-image-section img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid #35a267;
}
